.post_content {

    &>*+* {
        margin-block-start: var(--space-2xs-xs);
    }

    & h2,
    & h3 {
        margin-block-start: var(--space-l-xl);
    }

    & pre {
        background: lightgrey;
        font-size: var(--fs-200);
        overflow-x: auto;
        padding: var(--space-xs);

        &>code {
            word-wrap: break-word;
        }
    }

    & ul,
    & ol {
        list-style-position: inside;

        &>li {
            margin-inline-start: var(--space-m);
        }

        &>*+li {
            margin-block-start: var(--space-3xs);
        }
    }

    & blockquote {
        border-inline-start: var(--space-3xs) solid var(--clr-high);
        padding-inline-start: var(--space-3xs);
    }
}
