#tabs {
	border-bottom: solid 3px #eee;
}

#tabs > a {
	display: inline-block;
	padding: 0.5em 1em;
	cursor:pointer;
}

#tabs > a.selected {
	background-color: #eee;
}

#tab-contents {
	padding:1em;
}
