@use "../abstract" as *;

#tabs {
	color: get-color(text);
	background-color: get-color(surface);
	border-bottom: solid 3px get-color(muted);
}

#tabs > a {
	display: inline-block;
	padding: 0.5em 1em;
	cursor:pointer;
}

#tabs > a.selected {
	color: get-color(rose);
	background-color: get-color(muted);
}

#tab-contents {
	padding:1em;
}
