*

!README.md
!LICENSE

# go 
!internal/
!go.mod
!go.sum
!gomod2nix.toml

# uploader
!cmd/uploader

# nix code
!nix/*
!flake.*

# docker
!Makefile

# services
!services/**/default.nix
!services/**/*.go
!services/**/*.templ
services/**/*_templ.go

# webserver
!.air.toml
!services/webserver/public/**
services/webserver/**/*.js
!services/webserver/public/tailwind.config.js
!posts/

!*/
