/*

!README.md

# go webserver code
!cmd/
!internal/
!.air.toml
!go.mod
!go.sum
!gomod2nix.toml
cmd/webserver/public/js/

# blogs
!posts/

# odin wasm code
!client/

# nix code
!nix/
!flake.*

# docker
Makefile
