/*

!README.md

# go webserver code
!cmd/
!internal/
!vendor/
!static/
!.air.toml
!go.mod
!go.sum
!gomod2nix.toml

# blogs
!posts/

# odin wasm code
!client/

# nix code
!nix/
!flake.*

# docker
Makefile
