#nav {
    width: 100%;

    & a.selected {
        font-weight: 700;
        text-decoration: underline;
    }

    & ul {
        display: flex;
        justify-content: space-evenly;
        list-style-type: none;
        text-align: center;

        & li {
            flex: 1;

            & a {
                display: block;
                padding-block: var(--space-2xs);
                padding-inline: var(--space-xs);
            }
        }
    }
}
