{{ define "nav" }}
    <nav id="nav" hx-swap-oob="true">
        <ul>
            {{ template "nav-links" . }}
        </ul>
    </nav>
{{ end }}

{{ define "nav-oob" }}
    {{ template "nav" . }}
{{ end }}

{{ define "nav-links" }}
    {{ range $name := .Pages }}
        <li><a 
            id="nav-link-{{$name}}"
            class="{{ if eq $.PageCurrent $name }}selected{{ end }}"
            href="/{{ $name }}"
            hx-get="/{{ $name }}/content"
            hx-target="main"
            hx-push-url="/{{ $name }}"
        >{{ $name }}</a></li>
    {{ end }}
{{ end }}
