footer {
    background-color: var(--clr-text);
    color: var(--clr-base);
    border-block-start: var(--space-3xs) solid var(--clr-high);
    font-size: var(--fs-100);
    margin-block-start: var(--space-xl);
    padding-block: var(--space-s);
    text-align: center;
    width: 100%;
}
