header {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-block-end: var(--space-s-l);
    padding-block: var(--space-xs-s);

    & nav {
        width: 100%;

        & a.selected {
            font-weight: 700;
            text-decoration: underline;
        }

        & ul {
            display: flex;
            justify-content: space-evenly;
            list-style-type: none;
            text-align: center;

            & li {
                flex: 1;

                & a {
                    display: block;
                    padding-block: var(--space-2xs);
                    padding-inline: var(--space-xs);
                }
            }
        }
    }

    .divider {
        border-block-start: var(--space-3xs) solid var(--clr-high);
        width: 100%;
    }
}
