{{ define "title" }}
    <title>Ethan Thoma</title>
{{ end }}

{{ define "content" }}
    {{ template "title" . }}

    <article class="content">
        <h1>Ethan Thoma</h1>
        <p>
            ML graduate student @ <a href="https://github.com/STASER-Lab">STASER Lab UBC</a>
            <br> 
            Focused on NLP and RL research
        </p>
        <p>Contact:</p>
        <ul>
            <li><a href="https://x.com/EthanBThoma">xitter (@EthanBThoma)</a></li>
            <li><a href="https://github.com/ethanthoma">GitHub</a></li>
            <li><a href="mailto:ethoma@student.ubc.ca">email</a></li>
        </ul>
    </article>
{{ end }}

{{ define "oob" }}
    {{ template "nav-links-updater" . }}
{{ end }}
