{{ define "title" }}
    <title>Ethan Thoma \ {{ .Post.Title }}</title>
{{ end }}

{{ define "content" }}
    {{ template "title" . }}

    <article class="content">
        {{ .Post.HTML }}
    </article>
{{ end }}

{{ define "oob" }}
    {{ template "nav-links-updater" . }}
{{ end }}
