{{ define "title" }}
    <title>Ethan Thoma \ Projects</title>
{{ end }}

{{ define "shared-content" }}
    {{ template "title" . }}
    <style>
        .spacer {
            padding-inline: var(--space-2xs);
        }
    </style>
    <h1>Projects</h1>
    <ul style="list-style: none; margin-block-start: var(--space-2xs-xs);">
       <li class="post">
           <time>20240911</time>
           <span class="spacer">-</span>
           <a href="https://github.com/ethanthoma/interaction-net"><h2>Interaction Nets in Odin</h2></a>
       </li> 
       <li class="post">
           <time>20240719</time>
           <span class="spacer">-</span>
           <a href="https://github.com/ethanthoma/zig-webgpu-compute-shader"><h2>Zig Webgpu Compute Shader</h2></a>
       </li> 
       <li class="post">
           <time>20240708</time>
           <span class="spacer">-</span>
           <a href="https://github.com/ethanthoma/zensor"><h2>Zensor: a Zig tensor library</h2></a>
       </li> 
    </ul>
{{ end }}

{{ define "content" }}
    {{ template "shared-content" . }}

    {{ template "nav" . }}
{{ end }}

{{ define "page" }}
    <!DOCTYPE html>
    <html lang="en">
    {{ template "head" . }}
    <body>
        {{ template "header" . }}
        <main>
            {{ template "shared-content" . }}
        </main>
        {{ template "footer" . }}
    </body>
    </html>
{{ end }}
