package components

type Header struct {
	PageCurrent string
	Pages       []string
}

templ (p Header) View() {
	<header id="header" class="row-start-1 col-[2/-2] pt-s">
		@Nav{PageCurrent: p.PageCurrent, Pages: p.Pages}.View()
		<div></div>
	</header>
}
