{{ define "head" }}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://unpkg.com/htmx.org/dist/htmx.js"></script>
        <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
        <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
        <link rel="stylesheet" type="text/css" href="/static/main.css">
    </head>
{{ end }}
