{{ define "head" }}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Ethan Thoma's personal website" />

        <script type="text/javascript" src="/static/js/htmx.min.js" defer></script>
        <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/class-tools.js" defer></script>

        <link rel="stylesheet" type="text/css" href="/static/styles/main.css">

        <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
        <link rel="manifest" href="/static/favicon/site.webmanifest">
    </head>
{{ end }}
