{{ define "nav-links" }}
    {{ range $name := newRange "home" "blog" "projects" }}
        <li><a 
            id="nav-link-{{$name}}"
            class="{{ if eq $.CurrentPage $name }}selected{{ end }}"
            href="/{{ $name }}"
            hx-get="/{{ $name }}/content"
            hx-target="main"
            hx-push-url="/{{ $name }}"
        >{{ title $name }}</a></li>
    {{ end }}
{{ end }}

{{ define "nav" }}
    <nav id="nav" hx-swap-oob="true">
        <ul>
            {{ template "nav-links" . }}
        </ul>
    </nav>
{{ end }}

{{ define "nav-links-updater" }}
    {{ template "nav" . }}
{{ end }}

{{ define "header" }}
    <header>
        {{ template "ascii" . }}
        {{ template "nav" . }}
        <div class="divider"></div>
    </header>
{{ end }}
