{{ define "post" }}
    <article class="post">
        <time>{{formatDate .Date }}</time>
        <span style="padding-inline: var(--space-2xs)">-</span>
        <a
            href="/post/{{ .Slug }}"
            hx-get="/post/{{ .Slug }}/content"
            hx-target="main"
            hx-push-url="/post/{{ .Slug }}"
        ><h2>{{ .Title }}</h2></a>
    </article>
{{ end }}
