@use "../abstract" as *;

header {
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    flex-direction: row;
    margin: 4em 0 2em;
    justify-content: space-between;
    align-items: center;

    h1 {
        font-size: 1.5em;
        font-weight: 500;
        color: get-color(pine);
        position: relative;
        cursor: pointer;
        transition: transform .3s ease-in-out;
        align-items: center;
        height: 1.5em;

        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 4px;
            border-radius: 4px;
            background-color: get-color(love);
            bottom: 0;
            left: 0;
            transform-origin: right;
            transform: scaleX(0);
            transition: transform .3s ease-in-out;
        }

        &:hover {
            color: get-color(love);
        }

        &:hover::before {
            transform-origin: left;
            transform: scaleX(1);
        }
    }
    
    .hamburger-button {
        display: none;
    }

    .nav-links {
        display: flex;
        gap: 20px;

        a {
            border-radius: 4px;
            cursor: pointer;
            padding: 0.5em 0.5em;
            transition: color 0.3s;
            text-align: center;

            &:hover {
                background-color: get-color(overlay);
            }
        }

        #contacts {
            background-color: get-color(foam);
            color: get-color(overlay);
            transition: color 0.3s;

            &:hover {
                background-color: get-color(love);
            }
        }

        @media (max-width: $xs-breakpoint) {
            flex-direction: column;
            align-items: flex-end;
        }
    }

    .hamburger-button {
        display: none;

        @media (max-width: $xs-breakpoint) {
            display: block;
            cursor: pointer;
            background: none;
            border: none;
            padding: 0;
            transition: opacity 0.3s;

            &:focus {
                outline: none;
            }

            &.active {
                .icon {
                    transform: rotate(90deg);
                }
            }

            .icon {
                width: 3em;
                height: 3em;
                stroke: get-color(pine);
                stroke-width: 3px;
                transition: transform 0.3s;
            }
        }
    }

    @media (max-width: $s-breakpoint) {
        flex-direction: column;
        align-items: flex-start;

        .nav-links {
            margin: 1em 0 0 auto;
        }
    }

    @media (max-width: $xs-breakpoint) {
        align-items: center;
        flex-direction: row;

        .nav-links {
            display: none;
        }

        .hamburger-button.active ~ nav {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            background-color: get-color(surface);
            z-index: 10;
            gap: 0;

            a {
                width: 100%;
                padding-top: 1em;

                &:hover {
                    color: get-color(highlight-low);
                    background-color: get-color(love);
                }
            }
        }
    }
}

