package pages

import (
	"fmt"
	"personal-website/internal"
	"personal-website/services/webserver/components"
	"personal-website/services/webserver/layouts"
	"time"
)

type Sitemap struct {
	Pages        []string
	Posts        []internal.Post
	LastModified time.Time
}

templ (p Sitemap) View() {
	@layouts.Base{
		Pages:       p.Pages,
		PageCurrent: "sitemap",
		Title:       "Ethan Thoma / Site Map",
	}.View() {
		<article class="row-start-1 col-[2/-2]">
			<header class="font-mono">
				<h1 class="font-bold">
					ETHAN THOMA - SITE MAP
				</h1>
				<br/>
				<hr class="border-t-2 border-black border-dashed"/>
				<br/>
			</header>
			<section>
				<p>
					Complete directory of all pages, resources, and external 
					links available on this website. Use this index to navigate 
					to any section or find specific content.
				</p>
			</section>
			<br/>
			<hr class="border-t-2 border-black border-dashed"/>
			<br/>
			<section>
				<table class="table-fixed [&_td]:align-top table-gap-x-[3ch] table-gap-y-[1em]">
					<thead><tr><th colspan="3" class="pb-[1em]">Main Navigation</th></tr></thead>
					<tbody>
						@tableRow(0, "/home", "Home", "Personal information, contact details, and recent posts")
						@tableRow(1, "/blog", "Blog", "Technical posts, research notes, and thoughts")
						@tableRow(2, "/resources", "Resources", "Useful links, tools, and references")
						@tableRow(3, "/projects", "Projects", "Software projects, experiments, and code repositories")
						@tableRow(4, "/sitemap", "Site Map", "Complete site structure and navigation")
					</tbody>
					<td colspan="3"><hr class="border-t-2 border-black border-dashed my-[1em]"/></td>
					<thead><tr><th colspan="3">Resources & Files</th></tr></thead>
					<tbody>
						@tableRow(5, "https://raw.githubusercontent.com/ethanthoma/personal-website/main/docs/Resume.pdf", "Resume", "Current resume (PDF format)")
						@tableRow(6, "/robots.txt", "robots.txt", "Web crawler instructions")
						@tableRow(7, "/public/seo/sitemap.xml", "sitemap.xml", "XML sitemap for search engines")
					</tbody>
					<td colspan="3"><hr class="border-t-2 border-black border-dashed my-[1em]"/></td>
					<thead><tr><th colspan="3" class="pb-[1em]">Blog Posts</th></tr></thead>
					<tbody>
						for index, post := range p.Posts {
							@tableRow(8+index, "/blog/"+post.Slug, post.Title, fmt.Sprintf("Posted %s", post.Date.Format("2006-01-02")))
						}
					</tbody>
					<td colspan="3"><hr class="border-t-2 border-black border-dashed my-[1em]"/></td>
					<thead><tr><th colspan="3" class="pb-[1em]">External Links</th></tr></thead>
					<tbody>
						@tableRowLetter(0, "https://x.com/EthanBThoma", "Twitter/X", "Updates and thoughts; handle is @EthanBThoma ")
						@tableRowLetter(1, "https://github.com/ethanthoma", "GitHub", "Source code, repositories, and contributions")
						@tableRowLetter(2, "mailto:ethoma@mail.ubc.ca?subject=Professional/Academic Inquiry", "Email", "Professional and academic inquiries")
					</tbody>
				</table>
			</section>
			<br/>
			@components.LastModified{Time: p.LastModified}.View()
		</article>
	}
}

templ tableRow(index int, url, title, description string) {
	<tr>
		<td scope="col" class="w-[1%]">{ fmt.Sprintf("%03d", index) }</td>
		<td scope="col" class="w-[auto]" style="white-space: nowrap;"><a href={ templ.URL(url) } class="font-semibold hover:underline text-blue hover:text-darkblue" preload="mouseover">{ title }</a></td>
		<td scope="col" class="w-full text-content/80">{ description }</td>
	</tr>
}

templ tableRowLetter(index int, url string, title string, description string) {
	<tr>
		<td scope="col">{ fmt.Sprintf("A%02d", index) }</td>
		<td scope="col"><a href={ templ.URL(url) } class="font-semibold hover:underline text-blue hover:text-darkblue" preload="mouseover">{ title }</a></td>
		<td scope="col" class="text-content/80">{ description }</td>
	</tr>
}
