@use "../abstract" as *;

.page {
    padding: 4em 30vw;
    margin: 0 auto;
    box-sizing: content-box;
    overflow: hidden;
}

@media all and (max-width: $l-breakpoint) {
    .page {
        padding: 25px 5vw;
    }
}

