{{ define "page" }}
    {{ template "base-layout" . }}
{{ end }}

{{ define "content" }}
    <title>Ethan Thoma \ {{ .Post.Title }}</title>

    <article class="content">
        {{ .Post.HTML }}
    </article>
{{ end }}

{{ define "oob" }}
    {{ template "header-oob" . }}
{{ end }}
