@use "../abstract" as *;

body {
  margin: 0;
  height: 100%;
  width: 100vw;
  max-width: 100%;
  box-sizing: border-box;
  position: relative;
  background-color: get-color(base);
  color: get-color(text);
}

