{{ define "page" }}
    {{ template "base-layout" . }}
{{ end }}

{{ define "content" }}
    <title>Ethan Thoma \ Blog</title>
    <h1>Blog</h1>
    <ul class="posts" style="margin-block-start: var(--space-2xs-xs);">
        {{ range $post := .Posts }}
           <li class="post">
               <time>{{formatDate .Date }}</time>
               {{ template "spacer" . }}
               <a
                   href="/post/{{ .Slug }}"
                   hx-get="/post/{{ .Slug }}/content"
                   hx-target="main"
                   hx-push-url="/post/{{ .Slug }}"
               ><h2>{{ .Title }}</h2></a>
           </li>
        {{ end }}
    </ul>
{{ end }}

{{ define "oob" }}
    {{ template "header-oob" . }}
{{ end }}
